.catalog{
  display: block;

}
.catalog__title{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
 text-align: center;
}
//карточка товара
.catalog__product-card-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: var(--width-mobile-section);
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  }

.catalog__product-card-item{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 41px 48px 40px;
  gap: 14px 0;
   padding: 20px 0 25px 0;
  margin: 0;
  width: var(--width-mobile-section);
}
.catalog__product-card-name{
  grid-row: 1/3;
}
.catalog__product-card-img{
  width: 140px;
  height: 107px;
}
.catalog__button{
  grid-column: 1/3;
}
.catalog__product-card-title{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.catalog__attrs {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.catalog__property{
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.catalog__parameter{
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}


//дополнительные товары

.catalog__optionally-list{
  margin: 0;
  padding: 0;
  width: var(--width-mobile-section);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.catalog__optionally-item{
  list-style-type: none;
  display: grid;
  gap: 13px;
  padding: 13px 0 19px 0;
  }
.catalog__optionally-item-title{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.catalog__optionally-attrs{
  margin: 0;
  overflow: hidden;
}
.catalog__optionally-property{
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: left;
}
.catalog__optionally-parameter{
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: right;
}

.catalog__optionally-attrs{
  display: flex;
  justify-content: space-between;
}

.catalog__product-card-item--all{
  display: grid;

}
.catalog__product-card-annotation{
  font-family:var(--font-secondary);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
.catalog__product-card-title--all{
  text-align: center;
}
.catalog__optionally-products{
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.catalog__optionally-products::before{
  content: "";
  height: 15px;
  width: calc(50% - 160px);
  border-bottom: 2px solid var(--color-font-second);
}

.catalog__optionally-products::after{
  content: "";
  height: 15px;
  width: 10px;
  flex-grow: 1;
  border-bottom: 2px solid var(--color-font-second);
}
.catalog__stock{
  text-align: center;
}
