.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--width-mobile-section);
}

.form__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px 0;
}

.form__description {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 13px;
}

.form__item {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  gap: 13px;
  align-items: center;

}

.form__caption {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form__optionally-annotation {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-field {
  border: 1px solid #E7E7E7;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-top: 14px;
  padding-bottom: 13px;
  flex: 1 auto;

}

textarea {
  box-sizing: border-box;
  padding: 14px 14px 118px 15px;
  margin: 0;
  width: 280px;
  border: 1px solid #E7E7E7;
  margin-bottom: 23px;
}

textarea::placeholder {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__program-list {
  padding: 22px 0 19px 0;
}

.form__contact-data-list {
  padding: 35px 0 24px 0;
}

.form__comment-caption {
  margin-bottom: 38px;
}

.form__optionally-list {
  padding: 34px 0;
}
