.main-container-catalog{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}
.main-container-catalog__title{
  font-family: var(--font-primary);
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}
.main-container-catalog__product-card-list{
  list-style-type: none;
  margin: 0;
  padding: 20px 0 25px 0;
}
.main-container-catalog__product-card-item{
  display: grid;

}
.main-container-catalog__optionally-products{
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 24px;
}
.main-container-catalog__optionally-list{
  margin: 0;
  padding: 0;
}
.optionally-item{
  list-style-type: none;
  display: grid;
  padding: 13px 0 19px 0;
  grid-template-rows: 16px 16px 40px;
  gap: 13px;
}
.optionally-item__optionally-item-title{
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.optionally-item-title__attrs{
  margin: 0;
  overflow: hidden;
}
.optionally-item-title__attrs__property{
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: left;
}
.optionally-item-title__attrs__parameter{
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: right;
}
