.main-container__wrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  background-image: url("../images/index-background.jpg"),
  linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
  background-position: top;
  background-size: auto 302px;
  background-repeat: no-repeat;
}

.main-container__title {
  font-family: var(--font-primary);
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.main-container__slogan {
  font-family: var(--font-primary);
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.main-container__img {
  margin-bottom: 3px;
}

