.program{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.program__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding-left: 0;
}
.program__item{
  list-style-type: none;
  background-color: var(--color-font-program);
}
.program__title{
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 30px 52px 29px 90px;
  padding:0;
  }
.program__description{
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 33px 38px 20px;
}
.program__control{
  display: block;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  margin: 0 121px 18px 20px;
}
