@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap");
  font-display: swap;
}
