.main-container__title{
  font-family: "Oswald", sans-serif;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}
.main-container__slogan{
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

}
.program__title{
  font-family: "Oswald", sans-serif;
  line-height: 37px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.program__description{
  font-family: "Lato", sans-serif;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 29px;
 }
