:root {
  --font-primary: "Oswald", "Arial", sans-serif;
  --font-secondary: "Lato", "Arial", sans-serif;

  --color-font-primary:#ffffff;
  --color-font-second: #68B738D9;
  --color-font-program: #F2F2F2;

}
