$width-mobile-section: 280px;
$width-tablet-section: 707px;
$width-desktop-section: 1220px;

:root {
  --font-primary: "Oswald", "Arial", sans-serif;
  --font-secondary: "Lato", "Arial", sans-serif;

  --width-mobile-section: 280px;
  --width-tablet-section: 707px;
  --width-desktop-section: 1220px;

  --color-font-primary:#ffffff;
  --color-font-second: #68B738D9;
  --color-font-program: #F2F2F2;

}
