:root {
  --font-primary: "Oswald", "Arial", sans-serif;
  --font-secondary: "Lato", "Arial", sans-serif;
  --width-mobile-section: 280px;
  --width-tablet-section: 707px;
  --width-desktop-section: 1220px;
  --color-font-primary:#ffffff;
  --color-font-second: #68B738;
  --color-font-program: #F2F2F2;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff"), url("../fonts/oswald/oswaldregular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2"), url("../fonts/lato/Lato-Regular.woff");
  font-display: swap;
}
body {
  min-width: var(--width-mobile-section);
  min-height: 100%;
  margin: 0;
  font-family: var(--font-primary);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 707px) {
  .example {
    padding-top: 45px;
    padding-bottom: 100px;
    border-top: 1px solid #E6E6E6;
    background: linear-gradient(to top, #eaeaea, #eaeaea 462px, transparent 462px, transparent 100%);
  }
}
@media (min-width: 1220px) {
  .example {
    background: linear-gradient(to bottom, transparent, transparent 160px, #eaeaea 160px, #eaeaea 100%);
  }
}

.example__block {
  width: var(--width-mobile-section);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0 40px 0;
}
@media (min-width: 707px) {
  .example__block {
    width: var(--width-tablet-section);
  }
}

.example__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (min-width: 707px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1220px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__text {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  margin-top: 0;
}
@media (min-width: 707px) {
  .example__text {
    max-width: 708px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1220px) {
  .example__text {
    max-width: 436px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }
}

.example__number {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}

.example__description {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #EAEAEA;
  z-index: 2;
  width: 77px;
  padding: 0 5px;
  margin: 7px 0 0 20px;
}

.example__text__price {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 707px) {
  .example__text__price {
    float: right;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1220px) {
  .example__text__price {
    text-align: left;
  }
}

.example__statistics {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
@media (min-width: 707px) {
  .example__statistics {
    justify-content: left;
    gap: 43px;
    width: 367px;
    float: left;
  }
}

.example__price {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
@media (min-width: 707px) {
  .example__price {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-left: 544px;
  }
}

.example__statistics-box {
  box-shadow: inset 0 0 0 1px #CDCDCD;
  border-radius: 3px;
  width: 124px;
  height: 56px;
  margin: 0;
}

.catalog {
  display: block;
}

.catalog__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  text-align: center;
}

.catalog__product-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: var(--width-mobile-section);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.catalog__product-card-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 41px 48px 40px;
  gap: 14px 0;
  padding: 20px 0 25px 0;
  margin: 0;
  width: var(--width-mobile-section);
}

.catalog__product-card-name {
  grid-row: 1/3;
}

.catalog__product-card-img {
  width: 140px;
  height: 107px;
}

.catalog__button {
  grid-column: 1/3;
}

.catalog__product-card-title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog__attrs {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.catalog__property {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__parameter {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__optionally-list {
  margin: 0;
  padding: 0;
  width: var(--width-mobile-section);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.catalog__optionally-item {
  list-style-type: none;
  display: grid;
  gap: 13px;
  padding: 13px 0 19px 0;
}

.catalog__optionally-item-title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog__optionally-attrs {
  display: flex;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
}

.catalog__optionally-property {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: left;
}

.catalog__optionally-parameter {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: right;
}

.catalog__product-card-item--all {
  display: grid;
}

.catalog__product-card-annotation {
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}

.catalog__product-card-title--all {
  text-align: center;
}

.catalog__optionally-products {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.catalog__optionally-products::before {
  content: "";
  height: 15px;
  width: calc(50% - 160px);
  border-bottom: 2px solid var(--color-font-second);
}

.catalog__optionally-products::after {
  content: "";
  height: 15px;
  width: 10px;
  flex-grow: 1;
  border-bottom: 2px solid var(--color-font-second);
}

.catalog__stock {
  text-align: center;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--width-mobile-section);
}

.form__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px 0;
}

.form__description {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 13px;
}

.form__item {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  gap: 13px;
  align-items: center;
}

.form__caption {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form__optionally-annotation {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-field {
  border: 1px solid #E7E7E7;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-top: 14px;
  padding-bottom: 13px;
  flex: 1 auto;
}

textarea {
  box-sizing: border-box;
  padding: 14px 14px 118px 15px;
  margin: 0;
  width: 280px;
  border: 1px solid #E7E7E7;
  margin-bottom: 23px;
}

textarea::placeholder {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__program-list {
  padding: 22px 0 19px 0;
}

.form__contact-data-list {
  padding: 35px 0 24px 0;
}

.form__comment-caption {
  margin-bottom: 38px;
}

.form__optionally-list {
  padding: 34px 0;
}

.main-footer {
  width: var(--width-mobile-section);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social__link {
  text-decoration: none;
}

.social__item {
  list-style-type: none;
}

.copyright__link {
  text-decoration: none;
}

.nav {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 707px) {
  .nav__list {
    width: 404px;
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }
}
@media (min-width: 1220px) {
  .nav__list {
    width: 478px;
  }
}

.nav__item {
  color: #000000;
}

.nav__item-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

@media (min-width: 707px) {
  .nav__toggle {
    display: none;
  }
}

.header {
  /*height: 66px;*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: var(--width-mobile-section);
}
@media (min-width: 707px) {
  .header {
    width: var(--width-tablet-section);
    align-items: center;
  }
}
@media (min-width: 1220px) {
  .header {
    width: var(--width-desktop-section);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  background-image: url("../images/index-background.jpg"), linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
  background-position: top;
  background-size: auto 302px;
  background-repeat: no-repeat;
}

.hero__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.hero__slogan {
  font-family: var(--font-primary);
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hero__img {
  margin-bottom: 3px;
  display: block;
  width: 280px;
  height: 270px;
}
@media (min-width: 707px) {
  .hero__img {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1220px) {
  .hero__img {
    width: 552px;
    height: 499px;
  }
}

.work {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
  box-sizing: border-box;
  width: var(--width-mobile-section);
}
@media (min-width: 707px) {
  .work {
    width: var(--width-tablet-section);
  }
}
@media (min-width: 1220px) {
  .work {
    width: var(--width-desktop-section);
  }
}

.work__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 42px;
}
@media (min-width: 707px) {
  .work__title {
    margin-bottom: 72px;
  }
}

.work__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  counter-reset: work;
  align-items: center;
}
@media (min-width: 707px) {
  .work__list {
    width: var(--width-tablet-section);
    margin-right: 70px;
    row-gap: 80px;
    column-gap: 130px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1220px) {
  .work__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.work__item {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 60px 1fr;
}
@media (min-width: 707px) {
  .work__item {
    max-width: 768px;
    grid-template-columns: 1fr;
    grid-auto-rows: 80px 1fr;
    gap: 30px;
    padding-bottom: 55px;
  }
  .work__item::after {
    position: absolute;
    left: 118px;
    top: -110px;
    color: #F2F2F2;
    font-size: 288px;
    font-family: var(--font-primary);
    counter-increment: work;
    content: counter(work);
    z-index: -1;
  }
}

.work__item::before {
  content: "";
  background-color: var(--color-font-second);
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  grid-column: 1/2;
}
@media (min-width: 707px) {
  .work__item::before {
    width: 80px;
    height: 80px;
    grid-column: 1/2;
  }
}

.work__description {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin: 0;
  grid-column: 2/3;
}
@media (min-width: 707px) {
  .work__description {
    grid-column: 1/3;
    grid-row: 2/3;
    min-width: 204px;
    font-size: 16px;
    line-height: 24px;
  }
}

.program {
  margin: 0 auto;
  box-sizing: border-box;
}

.program__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
  width: var(--width-mobile-section);
}
@media (min-width: 707px) {
  .program__list {
    gap: 30px;
  }
}
@media (min-width: 1220px) {
  .program__list {
    width: var(--width-desktop-section);
    flex-direction: row;
    gap: 80px;
  }
}

.program__item {
  list-style-type: none;
  background-color: var(--color-font-program);
  position: relative;
  padding: 30px 33px 18px 20px;
}
@media (min-width: 707px) {
  .program__item {
    width: var(--width-tablet-section);
    padding: 77px 28px 53px 52px;
  }
}
@media (min-width: 1220px) {
  .program__item {
    width: var(--width-desktop-section);
    padding: 77px 61px 55px 52px;
  }
}

.program__item::before {
  content: "";
  background-color: var(--color-font-second);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 24px;
  left: 20px;
}
@media (min-width: 707px) {
  .program__item::before {
    top: 92px;
    left: auto;
    right: 63px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1220px) {
  .program__item::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.program__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 90px;
  padding: 0;
}
@media (min-width: 707px) {
  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 0;
  }
}
@media (min-width: 1220px) {
  .program__title {
    margin-top: 0;
    margin-bottom: 73px;
    margin-left: 214px;
    max-width: var(--width-desktop-section);
  }
}

.program__description {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 42px;
}
@media (min-width: 707px) {
  .program__description {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1220px) {
  .program__description {
    max-width: 457px;
  }
}

.program__control {
  display: block;
  font-family: var(--font-primary);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 707px) {
  .program__control {
    font-size: 20px;
  }
}

@media (min-width: 1220px) {
  .cooperation {
    display: grid;
    grid-template-rows: 95px 1fr 106px;
    grid-template-columns: 110px 565px 1fr;
  }
}

.cooperation__container {
  width: var(--width-mobile-section);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 0 20px 0;
}
@media (min-width: 707px) {
  .cooperation__container {
    justify-content: space-between;
    min-width: 708px;
  }
}
@media (min-width: 1220px) {
  .cooperation__container {
    min-width: 565px;
    background-color: #ffffff;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    padding: 61px 78px 60px 80px;
    gap: 87px;
  }
}

.cooperation__title {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0 auto;
}
@media (min-width: 707px) {
  .cooperation__title {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1220px) {
  .cooperation__title {
    padding: 0;
    margin: 0;
  }
}

.cooperation__text {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0 auto;
}
@media (min-width: 707px) {
  .cooperation__text {
    max-width: 157px;
    font-size: 16px;
    text-align: right;
  }
}
@media (min-width: 1220px) {
  .cooperation__text {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1220px) {
  .cooperation__map-box {
    grid-column: 1/4;
    grid-row: 1/4;
  }
}

.cooperation__map-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 362px;
}
@media (min-width: 707px) {
  .cooperation__map-img {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1220px) {
  .cooperation__map-img {
    width: 1440px;
    height: 400px;
  }
}

@media (min-width: 707px) {
  .cooperation__address {
    padding-top: 19px;
  }
}
/*# sourceMappingURL=style.css.map */